<span style='color: #000' title='Frames'>    88</span><span style='color: #009' title='Memory'>   5888.00 KB</span><span style='color: #900' title='Time'>    376.42 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />