body{
    background: #f5f5f5;
}
.centerdiv{
    float: none;
    margin:0 auto;
}
form, .whitediv{
    padding:30px 50px;
    background: #ffffff;
    margin: 0 auto;
    border-radius: 10px;
    -moz-box-shadow: 3px 12px 31px #000000;
    -webkit-box-shadow: 3px 12px 31px #000000;
    box-shadow: 3px 12px 31px #000000;
}

.list{
    padding:10px;
    margin: 0 auto;
    background: #ffffff;
    -moz-box-shadow: 3px 12px 31px #000000;
    -webkit-box-shadow: 3px 12px 31px #000000;
    box-shadow: 3px 12px 31px #000000;
    border-radius: 10px;
}
footer{
    height: 30px;
}